<html  xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head >
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div>
<header th:fragment="content">
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container-fluid'>
                <a class='brand' th:href="@{/thinkwork/index}">
                    <i class='icon-heart-empty'></i>
                    <span class='hidden-phone'>thinkwork</span>
                </a>
                <a class='toggle-nav btn pull-left' href='#'>
                    <i class='icon-reorder'></i>
                </a>
                <ul class='nav pull-right'>

                    <li class='dropdown medium only-icon widget'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            <i class='icon-rss'></i>
                            <div class='label'>5</div>
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a href='#'>
                                    <div class='widget-body'>
                                        <div class='pull-left icon'>
                                            <i class='icon-user text-success'></i>
                                        </div>
                                        <div class='pull-left text'>
                                            John Doe signed up
                                            <small class='muted'>just now</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='#'>
                                    <div class='widget-body'>
                                        <div class='pull-left icon'>
                                            <i class='icon-inbox text-error'></i>
                                        </div>
                                        <div class='pull-left text'>
                                            New Order #002
                                            <small class='muted'>3 minutes ago</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='#'>
                                    <div class='widget-body'>
                                        <div class='pull-left icon'>
                                            <i class='icon-comment text-warning'></i>
                                        </div>
                                        <div class='pull-left text'>
                                            America Leannon commented Net Sync with veeery long text.
                                            <small class='muted'>1 hour ago</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='#'>
                                    <div class='widget-body'>
                                        <div class='pull-left icon'>
                                            <i class='icon-user text-success'></i>
                                        </div>
                                        <div class='pull-left text'>
                                            Jane Doe signed up
                                            <small class='muted'>last week</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='#'>
                                    <div class='widget-body'>
                                        <div class='pull-left icon'>
                                            <i class='icon-inbox text-error'></i>
                                        </div>
                                        <div class='pull-left text'>
                                            New Order #001
                                            <small class='muted'>1 year ago</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class='widget-footer'>
                                <a href='#'>All notifications</a>
                            </li>
                        </ul>
                    </li>
                    <li class='dropdown dark user-menu'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            <!--<img alt='${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}' height='23' th:src="@{/assets/images/avatar.jpg}" width='23' />
							<span class='user-name hidden-phone' th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">Mila Kunis</span>-->
							<img height='23' th:src="${user.img}" width='23' />
                            <span class='user-name hidden-phone' sec:authentication="principal.username">Mila Kunis</span>
                            <b class='caret'></b>
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a href='user_profile.html'>
                                    <i class='icon-user'></i>
                                    [[#{common.profile}]]
                                </a>
                            </li>
                            <li>
                                <a href='user_settins.html'>
                                    <i class='icon-cog'></i>
                                    [[#{common.settings}]]
                                </a>
                            </li>
							<li class="dropdown-submenu pull-left">
								<a href="#" title="" ><i class="icon-globe"></i>[[#{lang.choose}]]</a>
									<ul class="dropdown-menu" >
										<li><a href="/thinkwork/login?lang=zh_CN">[[#{lang.cn}]]</a></li>
										<li><a href="/thinkwork/login?lang=en_US">[[#{lang.en}]]</a></li>
									</ul>
							</li>
                            <li class='divider'></li>
                            <li>
                                <a th:href='@{/thinkwork/login?logout}'>
                                    <i class='icon-signout'></i>
                                    [[#{common.logout}]]
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form accept-charset="UTF-8" th:action="@{/thinkwork/search_results}" class="navbar-search pull-right hidden-phone" method="get" />
					<div style="margin:0;padding:0;display:inline">
						<input name="utf8" type="hidden" value="&#x2713;" />
					</div>
                    <button class="btn btn-link icon-search" name="button" type="submit"></button>
                   <input autocomplete="off" class="search-query span2" id="q_header" name="q" placeholder="Search..." type="text" value="" />
                </form>
            </div>
        </div>
    </div>
</header>
</div>
</body>
</html>