<html  xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="content">
<body style="margin:0;padding:0;overflow:hidden" scroll="no">
<div  id="addMenu">


            <form accept-charset="UTF-8" class="form" th:action="@{/thinkwork/admin/do_addMenu}" method="post" id="addMenuForm" style="margin-bottom: 0px;">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h4>Add New Menu</h4>
                </div>
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" style="color:#333333">Menu Name:</label>
                            <div class="controls">
                                <input class="span6" name="menuName" id="menuname" type="text" placeholder="City placeholder">
                                <p class="help-block">
                            </p></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"  style="color:#333333">Display Name:</label>
                            <div class="controls">
                                <input class="span6" name="displayName" id="displayname" type="text" placeholder="Display Name">
                                <small class="muted" style="font-size:11px">The name displayed in front end.</small>
                            </div>
                        </div>
						<div class="control-group">
                            <label class="control-label" style="color:#333333">菜单等级</label>
                            <div class="controls"  style="font-size:11;">
                                <select class='select2 span6' style="font-color:#333333" name="level" id="level">
									<optgroup label='菜单等级'>
										<option value='0' />一级菜单
										<option value='1' />二级菜单
										<option value='2' />三级菜单
									</optgroup>
								</select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="color:#333333">父菜单</label>
                            <div class="controls"  style="font-size:11;">
                                <select class='select2 span6' style="font-color:#333333" name="parentCode" id="parentCode">
									<optgroup label='顶级菜单'>
										<option value='0' />根菜单
									</optgroup>
									<optgroup label='一级菜单'>
										<option th:each="menu,iterStat : ${firstLevelMenus}"  value='${menu.menuCode}' th:text="${menu.menuName}" />Alaska
									</optgroup>
									<optgroup label='二级菜单'>
										<option th:each="menu,iterStat : ${secLevelMenus}"  value='${menu.menuCode}' th:text="${menu.menuName}" />Alaska
									</optgroup>
								</select>
                            </div>
                        </div>
						<div class="control-group">
                            <label class="control-label"  style="color:#333333">Url:</label>
                            <div class="controls">
                                <input class="span6" name="url" id="url" type="text" placeholder="Url">
                                <small class="muted" style="font-size:11px">点击菜单所对应的页面超链接.</small>
                            </div>
                        </div>
						<div class="control-group">
                            <label class="control-label"  style="color:#333333">状态:</label>
                            <div class="controls">
                                <select class='select2 span6' style="font-color:#333333" name="status" id="status">
										<option value='0' />Inactive
										<option value='1' />Active
								</select>
                            </div>
                        </div>
				</div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
        </form>

</div>

</body>
</html>