<div th:fragment="content">
<div class='container-fluid'>
<div class='row-fluid' id='content-wrapper'>
<div class='span12'>
<div class='span12 box bordered-box orange-border' style='margin-bottom:0;margin-left:0;margin-top:0;'>
<div class='box-header blue-background'>
    <div class='title'>
	<i class='icon-list-alt'></i>
	<span>Role Management</span>
	<div class='actions'>
			<div class="btn-group">
					<button class="btn dropdown-toggle" style="margin-bottom: 5px;" data-toggle="dropdown">
						Action
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Create</a>
						</li>
						<li>
							<a href="#">Refresh</a>
						</li>
						<li>
							<a href="#">Deactive</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">Delete</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
	<!--
    <div class='actions'>
        <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
        </a>
        <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
        </a>
    </div>
	-->

</div>
<div class='box-content box-no-padding'>
<div class='responsive-table'>
<div class='scrollable-area'>
<table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
<thead>
<tr>
    <th>
        Name
    </th>
    <th>
        E-mail
    </th>
    <th>
        Status
    </th>
    <th></th>
</tr>
</thead>
<tbody>
<tr>
    <td>Lavern Oberbrunner</td>
    <td>antonette@hotmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>America Champlin</td>
    <td>marques@hotmail.com</td>
    <td>
        <span class='label label-important'>Important</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td>Stone Herman</td>
    <td>romaine@yahoo.com</td>
    <td>
        <span class='label label-warning'>Warning</span>
    </td>
    <td>
        <div class='text-right'>
            <a class='btn btn-success btn-mini' href='#'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-mini' href='#'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
    <th>Name</th>
    <th>E-mail</th>
    <th colspan='2'>Status</th>
</tr>
</tfoot>
</table>
</div>
</div>
</div>
</div>


</div>

</div>
</div>
</div>