/thinkwork/src/main/resources/static/~archive
/thinkwork/src/main/resources/templates/~backup
/thinkwork/src/main/resources/templates/~archive
/thinkwork/.settings
/thinkwork/.mvn
/thinkwork/.idea
/thinkwork/META-INF
/thinkwork/out
/thinkwork/target
/thinkwork/mvnw
/thinkwork/mvnw.cmd
