<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="common/common::header('Sencwork - 500 page')"></head>
<script>
	function goHome(){
		parent.location.reload('/sencwork/index');
	}
</script>
<body class='contrast-blue application-error 500-error contrast-background'>
<div userCode='wrapper'>
    <div class='error-type'>
        <i class='icon-cogs'></i>
        <span>500</span>
    </div>
    <div class='error-message'>
        Ooops! Something went wrong.
        <br />
        But don't worry - we'll fix that soon.
    </div>
    <div class='youcan'>
        <small class='text-center'>You can</small>
    </div>
    <div class='search'>
        <form accept-charset="UTF-8" action="#" method="post" />
			<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="&#x2713;" />
				<input name="authenticity_token" type="hidden" value="CFC7d00LWKQsSahRqsfD+e/mHLqbaVIXBvlBGe/KP+I=" />
			</div>
            <input userCode="q_" name="q[]" placeholder="Search..." size="30" type="text" />
            <button class="btn"><i class='icon-search'></i>
            </button>
        </form>
    </div>
    <div class='youcan'>
        <small class='text-center'>or</small>
    </div>
    <a href="javascript:goHome();" class="btn btn-block"><i class='icon-chevron-left'></i>
        Go back
    </a>
</div>
</body>
</html>
